@media(max-width:1367px){
    .container-icons-text {
        top: 60px;
        left: -112px;
    }

    .fa-caret-down {
        position: relative;
        left: 105px;
    }

    .container-btn-pre {
        left: -413px;
        top: 111px;
    }
}